
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /brasilprofissoes/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /brasilprofissoes/index.php [L]
RewriteCond %{QUERY_STRING} \\?s=([^&]+) [NC]
</IfModule>

# END WordPress
