.highlight.blue {
	background: #E7F6FC;
	color: #2d98bd;
}

.highlight.green {
	background: #ecffe7;
	color: #509640;
}

.highlight.red {
	background: #FFF2F3;
	color: #ca3436;
}

.highlight.yellow {
	background: #FFF7A8;
	color: #695D43;
}